<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <test name="PositiveTests">
    <groups>
      <run>
        <include name="Positive"/>
      </run>
    </groups>
    <classes>
      <class name="com.LoginPageTest"/>
      <class name="com.MainPageTest"/>
    </classes>
  </test>
  <test name="NegativeTests">
    <groups>
      <run>
        <include name="Negative"/>
      </run>
    </groups>
    <classes>
      <class name="com.LoginPageTest"/>
      <class name="com.MainPageTest"/>
    </classes>
  </test>
</suite>

